:root {
    --color-primary: rgb(56, 78, 133);
    --color-primary-dark: rgb(38, 53, 92);
    --color-primary-light: rgb(98, 121, 179);
    --color-primary-display: rgb(22, 33, 61);
    --color-secondary: rgb(230, 228, 223);
    --color-secondary-dark: rgb(139, 133, 119);
    --color-danger: rgb(239, 83, 69);
    --color-danger-dark: rgb(148, 52, 43);
    --color-light: rgb(246, 245, 245);
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-primary);
}

.box {
    width: 35rem;
    display: flex;
    padding: 20px;
    margin: 15px;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.544);
}

.box-head{
    margin-bottom: 15px;
}

.details {
    color: var(--color-light);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 10px;
}

.details .name {
    font-weight: 800;
}

.details .themes {
    display: none;
}

.display {
    background-color: var(--color-primary-display);
    text-align: end;
    padding: 30px 20px 20px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow:  inset -8px -7px 2px rgb(37, 52, 94), inset 8px 10px 3px rgba(15, 10, 41, 0.5);
}

.display .operacao {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 20px;
    font-size: 15px;
    color: rgb(110, 110, 133);
}

.display .numeral {
    color: var(--color-light);
    font-weight: 800;
    font-size: 40px;
}

.box-body {
    background-color: var(--color-primary-dark);
    box-shadow: inset -4px -6px 2px rgb(28, 40, 76), inset 4px 6px 3px rgb(58, 82, 152);
    padding: 25px;
    border-radius: 10px;
    height: 100%;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.key {
    background-color: var(--color-secondary);
    height: 60px;
    font-weight: bold;
    position: relative;
    text-align: center;
    font-size: 30px;
    border-radius: 15px;
    border: 0;
    color: var(--color-primary-dark);
    box-shadow: 0px 3px 0px var(--color-secondary-dark), 0px 5px 8px rgba(0, 0, 0, 0.359), inset 5px 5px 2px rgb(255, 255, 255);
    cursor: pointer;
    text-decoration: none;
}

.key.click {
    text-decoration: none;
    transition: all 0.35;
    font-size: 27px;
    box-shadow: 0px 3px 0px var(--color-secondary-dark), 0px 5px 8px rgba(0, 0, 0, 0.359), inset -5px -5px 2px rgb(255, 255, 255), inset 5px 5px 5px rgb(199, 199, 199);
}


.key-bottom {
    grid-column: span 2;
}

.key-reset, .key-del {
    font-size: 20px;
    background-color: var(--color-primary-light);
    box-shadow: 0px 3px 0px var(--color-primary), 0px 5px 8px rgba(0, 0, 0, 0.359), inset 4px 4px 2px rgba(144, 170, 247, 0.549);
}

.key-reset.click, .key-del.click {
    font-size: 18px;
    transition: all 0.35;
    box-shadow: 0px 3px 0px var(--color-primary), 0px 5px 8px rgba(0, 0, 0, 0.359), inset -4px -4px 4px rgba(144, 170, 247, 0.549), inset 4px 4px 4px rgb(81, 97, 143);
}

.key-bottom, .key-del {
    color: var(--color-light);
}

.key-igual {
    background-color: var(--color-danger);
    box-shadow: 0px 3px 0px var(--color-danger-dark), 0px 5px 8px rgba(0, 0, 0, 0.359), inset 4px 4px 2px rgb(239, 131, 131);
}

.key-igual.click {
    transition: all 0.35s;
    font-size: 23px;
    box-shadow: 0px 3px 0px var(--color-danger-dark), 0px 5px 8px rgba(0, 0, 0, 0.359), inset -4px -4px 2px rgb(239, 131, 131), inset 4px 4px 2px rgb(182, 78, 78)
}

@media screen and (max-width: 768px) {

    .display .numeral {
        font-size: 24px;
    }

    .key {
        font-size: 25px;
        height: 45px;
    }

    .key.click {
        font-size: 23px;
    }

    .key-reset, .key-del {
        font-size: 15px;
    }

    .key-reset.click, .key-del.click {
        font-size: 14px;
        font-weight: bold;
    }

    .key-igual.click {
        font-size: 21px;
    }
  }